.northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EF4345;
}
.southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFDD45;
}